<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head"></head>
<body>

  <header th:replace="layout/navbar::navbar"></header>

  <div class="container py-4">
    <div class="card">
      <div class="card-header"><h4 th:text="${titulo}"></h4></div>
      <div class="card-body">
        <h4 class="card-title"></h4>

        <form th:action="@{/factura/form/}" th:object="${factura}" method="post">

          <div class="form-group row">
            <label for="cliente" class="col-sm-2 col-form-label" th:text="#{label.cliente}"></label>
            <div class="col-sm-6">
              <input name="cliente" th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}" class="form-control"
                disabled='disabled' />
            </div>
          </div>

          <div class="form-group row">
            <label for="descripcion" class="col-sm-2 col-form-label" th:text="#{label.factura.descripcion}"></label>
            <div class="col-sm-6">
              <input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="'form-control is-invalid'" />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
            </div>
          </div>

          <div class="form-group row">
            <label for="observacion" class="col-sm-2 col-form-label" th:text="#{label.factura.observaciones}"></label>
            <div class="col-sm-6">
              <textarea th:field="*{observaciones}" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="buscar_producto" class="col-sm-2 col-form-label" th:text="#{page.factura.action.find.producto}"></label>
            <div class="col-sm-6">
              <input type="text" name="buscar_producto" id="buscar_producto" class="form-control" />
            </div>
          </div>
          <br>

          <table th:replace="pages/factura/plantilla-items::itemsFactura"></table>

          <table id="cargarItemProductos" class="table table-striped table-hover table-responsive-md">
            <thead>
              <tr>
                <th th:text="#{label.producto}">Nombre</th>
                <th th:text="#{label.itemFactura.importeUnitario}">Precio</th>
                <th th:text="#{label.itemFactura.cantidad}">Cantidad</th>
                <th th:text="#{label.itemFactura.importeTotal}">Total</th>
                <th th:text="#{page.table.column.actions}">Eliminar</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <br>
          <h5>
            <span th:text="#{label.itemFactura.importeTotal}"></span> <span class="badge badge-secondary" id="gran_total">0</span>
          </h5>
 
          <br>
          <div class="form-group row">
            <div class="col-sm-6">
              <a class="btn btn-danger" th:href="@{'/cliente/view/' + ${factura.cliente.id}}" th:text="#{page.action.back}"></a>
              <button type="submit" th:text="${titulo}" class="btn btn-success"></button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <footer th:replace="layout/footer::footer"></footer>  
  <script th:replace="pages/factura/js/autocomplete-productos::javascript"></script>
</body>
</html>