<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head::head"></head>
<body>
  <header th:replace="layout/navbar::navbar"></header>
  <div class="container">
    <div class="card">
      <div class="card-header" th:text="${titulo}"></div>
      <div class="card-body">
        <img th:if="${cliente.foto}" th:src="@{/uploads/}+${cliente.foto}" th:alt="${cliente.foto}" class="img-thumbnail float-left"
          style="max-width: 25%">
        <ul class="list-group">
          <li class="list-group-item" th:text="${cliente.nombre}"></li>
          <li class="list-group-item" th:text="${cliente.apellido}"></li>
          <li class="list-group-item" th:text="${cliente.email}"></li>
          <li class="list-group-item" th:text="${cliente.createAt}"></li>
        </ul>

        <div th:if="${#lists.isEmpty(facturas)}" class="alert alert-info my-4"
          th:text="#{page.cliente.facturaEmpty} + ' ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

        <table th:if="${not #lists.isEmpty(facturas)}" class="table table-bordered table-striped my-4">
          <thead class="thead-dark">
            <tr>
              <th th:text="#{label.id}">Id</th>
              <th th:text="#{label.factura.descripcion}">Descripción</th>
              <th th:text="#{label.factura.fecha}">Fecha</th>
              <th th:text="#{label.factura.importeTotal}">Total</th>
              <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{page.table.column.actions}">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="factura: ${facturas}">
              <td th:text="${factura.id}"></td>
              <td th:text="${factura.descripcion}"></td>
              <td th:text="${factura.fecha}"></td>
              <td th:text="${factura.importeFactura}"></td>
              <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/factura/view/}+${factura.id}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-info mx-2">
                  <i class="fas fa-search text-white"></i>
                </a>
                <a th:href="@{/factura/delete/}+${factura.id}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger mx-2"
                  th:onclick="'return confirm(\''+ #{page.factura.action.delete.confirm} + '\');'">                  
                  <i class="fas fa-trash text-white"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer th:replace="layout/footer::footer"></footer>
</body>
</html>